# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

/*.json
/*.txt
/*.log

HammerCore/
crash-reports/
assets/
hc-recipes/
journeymap/
downloads/
resourcepacks/
logs/
saves/
server-resource-packs/
structures/
mods/
screenshots/
config/MouseTweaks.cfg
config/InvTweaks.cfg
config/splash.properties
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/VersionChecker.cfg
config/AppliedEnergistics2/aerecipes/items.csv
scripts/MineTweakerRecipeMaker.zs
